body {
  background: #FAF7F1;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow: hidden;
  height: 100%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}
.center-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 36px;
    color: #6191c5; /* Light blue text color */
    text-align: center;
}
.title {
    margin: 20px;
}

html {
  height: 100%;
}

#stickynav {
  display: flex;
  justify-content: right;
  overflow: hidden;
}

#stickynav a {
  justify-content: center;
  /* float: left; */
  /* display: block;
  color: #222222;
  text-align: center;
  padding: 14px;
  text-decoration: none; */
}

.sticky {
  /* position: fixed; */
  top: 0;
  width: 100%;
}

.navbtn {
  background-color: #aec893;
  border: none;
  padding: 10px;
  border-radius: 13px;
  border-bottom-left-radius: 0px;
  margin: 5px;
  /* margin-right: 10px; */
  /* padding: 12px; */
}

.navbtn:hover {
  background-color: grey;
}

#home {
  box-sizing: border-box;
  display: flex;
  height: 400vh;
  flex-direction: column;
  border: 2px solid red;
}

#splash {
  box-sizing: border-box;
  display: flex;
  border: 2px solid red;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  height: 100vh;
}

#backdrop {
  display: flex;
  height: 75vh;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-color: #f5ebd8;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 2px solid green;
}

#splash-text {
  display: flex;
  /* background-color: red; */
  justify-content: center;
  align-items: left;
  flex-direction: column;
  min-height: 200px;
  margin-left: -145px;
}

#splash-text h1 {
  color: #222222;
  font-size: 40px;
}

@media only screen and (max-width: 768px) {

  #splash,
  #frames {
    flex-direction: column;
  }

  #backdrop {
    width: 100%;
  }

  #splash-text {
    margin-left: 0px;
  }

}


#frames {
  box-sizing: border-box;
  flex-wrap: wrap;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  border: 2px solid green;
  margin: 40px auto 0 auto;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAF7F1;
  text-align: left;
  box-sizing: border-box;
}

.container {
  overflow: hidden;
  color: white;
  background-color: #dbdbdb;
  width: 20vw;
  height: 30vh;
  margin: 5vw;
  text-align: center;
  line-height: 140px;
  font-size: 20px;
  border-radius: 10px
}

#frames p {
  color: #222222;
  display: flex;
  width: 20vw;

}

#appimage {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110vh;
}


#appimg {
  margin-top: -10%;
  border: 2px solid #b3977e;
  height: 70%;
}

#leaf {
  width: 15%;
  margin-right: -200px;
  margin-top: 500px;
  filter: hue-rotate(10deg);
  z-index: -1;
}

#beige {
  width: 25%;
  margin-left: -550px;
  margin-top: 250px;
  z-index: -1;
}

#faq {
  background-color: #E9F0E0;
  height: 100vh;
}

.fixednav {
  display: flex;
  width: 100vw;
  height: 10%;
  padding: 16px 38px;
  justify-content: center;
  align-items: center;

  border-bottom: 2px solid #BBA591;
  background: #FAF7F1;
  /* opacity: 0; */

  overflow: hidden;
  position: fixed;
  top: 0;
}

.fixednav #LOGO {
  margin-right: auto;
  text-decoration: none;
  font-size: 33px;
}

.fixednav input {
  background: url(../icons/icon_search.svg) no-repeat 95%;
  background-size: 33px;
  height: 50px;
  width: 350px;
  border-radius: 20px;
  border: 2px solid #BBA591; 
  padding: 15px;
  font-size: 18px;
}

.fixednav input:focus {
  outline: 0.5px solid #baa188;
}

#profile{
  background-color: coral;
  border: none;
  border-radius: 50%;
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: auto;
}

.fixednav img {
  margin-left: 20px;
  height: auto;
  max-width: 40px;
}

#filter {
 margin-right: -100px;
}

.main {
  display: flex;
}

.add_contact {
  display: flex;
  border: 2px solid #8c755f;
  background-color: #f4f0e9;
  border-radius: 10px;
  position: absolute;
  top: -200%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  height: 450px;
  padding: 50px 30px;
  opacity: 0;
}

.add_contact.active {
  top: 50%;
  opacity: 1;
}

.add_contact .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 15px;
  font-size: 40px;
  cursor: pointer; 
}

.add_contact h2 {
  text-align: center;
  margin: 10px 0px 20px;
  font-size: 30px;
}


.add_contact input{
  margin: 10px 10px;
  width: 40%;
  padding: 10px;
  outline: none;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
}

.add_contact #about {
  width: 455px;
}

.add_contact #first, .add_contact #email, .add_contact #about {
  margin-left: 40px;
}

.add_contact button{
  width: 455px;
  margin-top: 20px;
  margin-left: 40px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 15px;
  background: #BBA591;
  border-radius: 10px;
  cursor: pointer;
}

.add_contact button:hover{
  background: #c1b3a5;
}


#contacts {
  /* background-color: red; */
  width: 40%;
  height: 100vh;
  margin-top: 5%;
  border-right: 2px solid #BBA591;
  overflow-y: auto;
}

#contact_info {
  /* background-color: green; */
  margin-top: 5%;
  width: 60%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px;
}

#contact_info #name_info {
  width: 300px; 
  height: 150px;
  background: url("../icons/icon_user.svg") no-repeat;
  padding: 25px 0 0 150px;
  font-size: 30px;
}

#contact_info #email_info {
  width: 200px; 
  height: 100px;
  background: url("../icons/icon_email.svg") no-repeat;
  background-position: left center;
  padding: 0px 0 0 100px;
  margin-left: 20px;
  font-size: 30px;
}

#contact_info #phone_info {
  width: 300px; 
  height: 100px;
  background: url("../icons/icon_phone.svg") no-repeat;
  background-position: left center;
  padding: 0px 0 0 100px;
  margin-left: 20px;
  font-size: 30px;
}

#contact_table {
  font-size: 20px;
  min-width: 100%;
  max-height: 100px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  border-bottom: 1px solid #BBA591;
  border-collapse: collapse;
}

#contact_table thead tr {
  background-color: #a7c09e;
  color: rgb(26, 26, 26);
  text-align: left;
  font-size: 1.1em;
}

#contact_table th, #contact_table td {
  padding: 8px 4px;
}

#contact_table tbody tr {
  border-bottom: 1px solid #FAF7F1;
}

#contact_table tbody tr:nth-of-type(even) {
  background-color: #F9F1E0;
}

#contact_table #user_icon {
  width: 40px;
}
